In [32]:
from glob import glob
import pandas as pd
from sklearn.utils import shuffle

In [52]:
test_data_path = "/home/evgenii/Desktop/KneesOA/data/test/"
train_data_path = "/home/evgenii/Desktop/KneesOA/data/train/"
val_data_path = "/home/evgenii/Desktop/KneesOA/data/val/"

In [53]:
def gen_split(base_path):
    targets = []
    paths = []
    for stage in ["0", "1", "2", "3", "4"]:
        files = glob(base_path + stage + "/*")
        stage_targets = [int(stage)] * len(files)
        paths.extend(files)
        targets.extend(stage_targets)
    assert len(targets) == len(paths), f"T: {len(targets)} P: {len(paths)}"
    frame =  shuffle(pd.DataFrame({"img_path": paths, "target": targets})).reset_index(drop=True)
    frame.to_csv(f"/home/evgenii/Desktop/KneesOA/splits/{base_path.split('/')[-2]}.csv")
    return frame

In [54]:
gen_split(train_data_path)

                                               img_path  target
0     /home/evgenii/Desktop/KneesOA/data/train/0/972...       0
1     /home/evgenii/Desktop/KneesOA/data/train/3/999...       3
2     /home/evgenii/Desktop/KneesOA/data/train/0/953...       0
3     /home/evgenii/Desktop/KneesOA/data/train/0/992...       0
4     /home/evgenii/Desktop/KneesOA/data/train/2/979...       2
...                                                 ...     ...
6377  /home/evgenii/Desktop/KneesOA/data/train/1/953...       1
6378  /home/evgenii/Desktop/KneesOA/data/train/0/908...       0
6379  /home/evgenii/Desktop/KneesOA/data/train/0/933...       0
6380  /home/evgenii/Desktop/KneesOA/data/train/4/931...       4
6381  /home/evgenii/Desktop/KneesOA/data/train/0/995...       0

[6382 rows x 2 columns]

In [55]:
gen_split(test_data_path)

                                               img_path  target
0     /home/evgenii/Desktop/KneesOA/data/test/2/9322...       2
1     /home/evgenii/Desktop/KneesOA/data/test/0/9970...       0
2     /home/evgenii/Desktop/KneesOA/data/test/1/9437...       1
3     /home/evgenii/Desktop/KneesOA/data/test/3/9075...       3
4     /home/evgenii/Desktop/KneesOA/data/test/1/9157...       1
...                                                 ...     ...
1651  /home/evgenii/Desktop/KneesOA/data/test/1/9771...       1
1652  /home/evgenii/Desktop/KneesOA/data/test/4/9144...       4
1653  /home/evgenii/Desktop/KneesOA/data/test/0/9242...       0
1654  /home/evgenii/Desktop/KneesOA/data/test/3/9646...       3
1655  /home/evgenii/Desktop/KneesOA/data/test/2/9722...       2

[1656 rows x 2 columns]

In [56]:
gen_split(val_data_path)

                                              img_path  target
0    /home/evgenii/Desktop/KneesOA/data/val/1/99622...       1
1    /home/evgenii/Desktop/KneesOA/data/val/1/93314...       1
2    /home/evgenii/Desktop/KneesOA/data/val/2/96379...       2
3    /home/evgenii/Desktop/KneesOA/data/val/1/90757...       1
4    /home/evgenii/Desktop/KneesOA/data/val/2/93733...       2
..                                                 ...     ...
821  /home/evgenii/Desktop/KneesOA/data/val/3/92174...       3
822  /home/evgenii/Desktop/KneesOA/data/val/3/99165...       3
823  /home/evgenii/Desktop/KneesOA/data/val/0/98911...       0
824  /home/evgenii/Desktop/KneesOA/data/val/0/99968...       0
825  /home/evgenii/Desktop/KneesOA/data/val/2/96863...       2

[826 rows x 2 columns]